.showroom {
    background-color: #F8F8F8;

    .container {
        padding-top: 5.4rem;
        padding-bottom: 5.9rem;
    }
}

.showroom__title {
    width: 57.57vw;
    margin: 0 auto 2.5rem;
    br {
        display: none;
    }

    margin-left: 17.5rem;
}

.showroom__cards {
    @include dflex-jcsb;
    padding: 5rem 3rem 2.3rem 1.2rem;
    background-color: #fff;
    border-radius: .6rem;
    margin-bottom: 3.4rem;

    box-shadow: 0 0 1rem rgba(192, 192, 192, 0.25);
}

.showroom__card {
    height: 11.5rem;

    &:first-child {
        width: 15.3rem;
    }

    &:nth-child(2) {
        width: 16.9rem;
    }

    &:nth-child(3) {
        width: 19.4rem;
    }

    &:nth-child(4) {
        width: 24rem;

        .showroom__img {
            width: 3.7rem;
            height: 3.7rem;
            margin-top: 0.8rem;
        }
    }
    
    &:last-child {
        width: 19.7rem;
    }
}

.showroom__img {
    width: 4.6rem;
    height: 4.6rem;
    margin-bottom: .6rem;
}

.showroom__description {
    @include font(500, 1.8rem, 116.67%);
}

.showroom__photos {
    @include dflex-jcsb;
    padding-right: 1rem;
}

.showroom__picture {
    width: 59.1rem;
    height: 39.2rem;

    &:first-child {
        margin-left: -1rem;
    }
}